<mat-card>
  <!-- ngForm otherwise it will give access to all the html -->
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
      <!-- [(ngModel)]="enteredTitle" because now form is added by default a javascript object created by form-->
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        ngModel
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      >
      <!-- [(ngModel)]="enteredContent" -->
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">
      <!-- (click)="onAddPost() -->
      Save Post
    </button>
  </form>
</mat-card>

<!--[value]="newPost" #postInput replaced by ngModel-->
