<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- ngForm otherwise it will give access to all the html -->
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        minlength="3"
        placeholder="Post Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
      <!-- [(ngModel)]="enteredTitle" because now form is added by default a javascript object created by form-->
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        [ngModel]="post?.content"
        required
        placeholder="Post Content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      >
      <!-- [(ngModel)]="enteredContent" -->
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">
      <!-- (click)="onAddPost() -->
      Save Post
    </button>
  </form>
</mat-card>

<!--[value]="newPost" #postInput replaced by ngModel-->
